* {
  box-sizing: border-box;
}

body {
  font-family: "SF-Pro-Text", sans-serif;
  margin: 0;
}

.scroll-locked {
  height: 100vh;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

svg, img {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: center!important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.overlay {
  background: rgba(0,0,0,0.4);
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.overlay.show {
  display: block;
}

button {
  cursor: pointer;
}

.btn-plain {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}
