//desktops
@media (min-width: 1200px) and  (max-width: 1399px) {

}

//desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .call-history-list .td-1 {
    width: 25%;
  }
  .call-history-list .td-2 {
    width: calc(14% - 10px);
  }
  .call-history-list .td-3 {
    width: calc(12% - 10px);
  }
  .call-history-list .td-4 {
    width: calc(39% - 10px);
  }
  .call-history-list .td-5 {
    width: calc(10% - 10px);
  }
  .call-history-data {
    font-size: 15px;
  }
  .teacher-card {
    padding: 20px;
  }
  .user-badge-lg .user-badge-img {
    width: 100px;
    height: 100px;
  }
  .user-badge-lg .user-badge-caption {
    margin-left: 20px;
  }
  .user-card-lg .user-price span {
    font-size: 20px;
  }
  .main-slider-caption {
    padding: 30px 0 60px 0;
  }
  .features-img {
    width: 30%;
    position: absolute;
    right: 0;
  }
  .features-img:before {
    right: -30px;
    height: 200px;
  }
  .features-box-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
  .features-box:nth-of-type(1) {
    margin-left: 30px;
  }
  .features-box:nth-of-type(2) {
    margin-left: 40px;
    margin-right: 50px;
  }
  .features-box:nth-of-type(3) {
    margin-left: 10px;
  }
  .calculator-check-val input:checked~.checkmark {
    width: 40px;
    height: 40px;
  }
  .calculator-check-val+.calculator-check-val {
    margin-left: 40px;
  }
  .calculator-check-val+.calculator-check-val:before {
    left: -26px;
  }
  .instruction-step:nth-of-type(1):after {
    left: 75%;
  }
  .instruction-step:nth-of-type(2):after {
    width: 36%;
    height: 16%;
    bottom: -4%;
    left: -38%;
  }
  .instruction-step:nth-of-type(3):after {
    width: 55%;
    height: 30%;
    bottom: 3%;
    right: -71%;
  }
  .toggle-header-nav {
    display: flex;
  }
  .header-nav {
    position: absolute;
    flex-direction: column;
    margin-left: 0;
    top: -5px;
    left: calc(100% + 20px);
    visibility: hidden;
    transition: .3s ease;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 40px 120px rgb(3 28 70 / 10%);
    min-width: 170px;
    z-index: 10;
  }
  .header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .header-nav li {
    width: 100%;
  }
  .header-navlink {
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border-radius: 0;
  }
}

//tablets
@media (min-width: 768px) and (max-width: 991px) {
  .footer-logo {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
  .footer-nav {
    width: 100%;
    margin-left: 0;
  }
  .footer-product {
    margin-bottom: 30px;
  }
  .footer-body{
    padding-bottom: 0;
  }
  .sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.2s ease;
    padding: 15px;
    z-index: 10;
    transform: translateX(-100%);
    background: #fff;
  }
  .sidebar.show {
    transform: translateX(0);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  }
  .toggle-sidebar {
    display: flex;
  }
  .call-history-list .td-1 {
    width: 25%;
  }
  .call-history-list .td-2 {
    width: calc(14% - 10px);
  }
  .call-history-list .td-3 {
    width: calc(12% - 10px);
  }
  .call-history-list .td-4 {
    width: calc(39% - 10px);
  }
  .call-history-list .td-5 {
    width: calc(10% - 10px);
  }
  .call-history-data {
    font-size: 15px;
  }
  .user-badge-lg .user-badge-img {
    width: 100px;
    height: 100px;
  }
  .user-badge-lg .user-badge-caption {
    margin-left: 20px;
  }
  .user-card-lg .user-price span {
    font-size: 20px;
  }
  .main-slider {
    position: relative;
  }
  .main-slider-caption {
    padding: 0 0 275px 0;
  }
  .main-slider-img {
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
  }
  .features-content {
    margin-top: 0;
  }
  .features-img {
    width: 40%;
    position: absolute;
    right: 0;
  }
  .features-img:before {
    right: -30px;
    height: 200px;
  }
  .features-box-wrapper {
    width: 100%;
    padding-top: 150px;
    justify-content: flex-start;
  }
  .features-box:nth-of-type(1) {
    margin-left: 0;
  }
  .features-box:nth-of-type(2) {
    margin-left: 30px;
    margin-top: 10px;
  }
  .features-box:nth-of-type(3) {
    margin-left: 10px;
  }
  .features-box:nth-of-type(4) {
    margin-top: 25px;
    margin-left: 30px;
  }
  .calculator-box {
    margin-bottom: 40px;
  }
  .description-img {
    width: 100px;
    height: 100px;
  }
  .description-caption {
    margin-left: 10px;
  }
  .description-caption h6 {
    font-size: 20px;
    line-height: 120%;
  }
  .description-caption p {
    font-size: 18px;
    line-height: 120%;
  }
  .description {
    padding: 60px 0;
  }
  .rating-img {
    display: none;
  }
  .rating-types {
    margin-top: 20px;
  }
  .instruction-steps {
    margin-top: 50px;
  }
  .instruction-step {
    width: calc(78% - 30px);
  }
  .instruction-step:nth-of-type(1) {
    margin-left: auto;
  }
  .instruction-step:nth-of-type(1):after {
    background: url("../img/icon/arrow-down-dashed.png") no-repeat center/contain;
    height: 120px;
    width: 22px;
    top: 50%;
    left: -18%;
  }
  .instruction-step:nth-of-type(2) {
    margin-top: 50px;
  }
  .instruction-step:nth-of-type(2):after {
    background: url("../img/icon/arrow-down-dashed.png") no-repeat center/contain;
    height: 120px;
    width: 22px;
    top: 50%;
    left: initial;
    right: -18%;
  }
  .instruction-step:nth-of-type(3) {
    margin-top: 50px;
    margin-left: auto;
  }
  .instruction-step:nth-of-type(3):after {
    bottom: -60%;
    right: 0;
  }
  .review-item {
    width: calc(50% - 30px);
  }
  .review-item:last-of-type {
    display: none;
  }
  .main-title {
    font-size: 36px;
    line-height: 120%;
  }
  .review {
    padding: 30px 0;
  }
  .review .section-title {
    display: block;
  }
  .review-title-link {
    margin-top: 15px;
  }
  .review-list {
    margin-top: 45px;
  }
  .request-form {
    margin-top: 50px;
    max-width: 100%;
  }
  .request-img {
    margin: 60px auto 0 auto;
    max-width: 450px;
  }
  .news-preview {
    overflow: hidden;
  }
  .news-preview-item {
    width: 400px;
    flex-shrink: 0;
  }
  .news-preview-list {
    overflow-x: auto;
    scrollbar-width: none;
    margin-right: -200px;
  }
  .news-preview-list::-webkit-scrollbar {
    display: none;
  }
  .toggle-header-nav {
    display: flex;
  }
  .header-nav {
    position: absolute;
    flex-direction: column;
    margin-left: 0;
    top: -5px;
    left: calc(100% + 20px);
    visibility: hidden;
    transition: .3s ease;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 40px 120px rgb(3 28 70 / 10%);
    min-width: 170px;
    z-index: 10;
  }
  .header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .header-nav li {
    width: 100%;
  }
  .header-navlink {
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border-radius: 0;
  }

}

//landscape phones
@media (min-width: 576px) and (max-width: 767px) {
  .footer-logo {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
  .footer-nav {
    width: 100%;
    margin-left: 0;
  }
  .footer-product {
    margin-bottom: 30px;
  }
  .footer-nav-link {
    font-size: 13px;
    line-height: 120%;
  }
  .footer-product-list li {
    margin-top: 3px;
  }
  .footer-product-link {
    font-size: 14px;
    line-height: 120%;
    padding: 5px 12px;
  }
  .footer-body {
    padding-bottom: 0;
  }
  .footer-top {
    padding: 10px 0;
  }
  .footer-social li {
    margin-right: 15px;
  }
  .footer-app-link + .footer-app-link {
    margin-left: 15px;
  }
  .footer-app-link {
    max-height: 40px;
  }
  .footer-social i {
    width: 25px;
    height: 25px;
  }
  .upload-img-instruction {
    margin-left: 40px;
  }
  .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.2s ease;
    padding: 15px;
    z-index: 10;
    transform: translateX(-100%);
    background: #fff;
  }
  .sidebar.show {
    transform: translateX(0);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  }
  .toggle-sidebar {
    display: flex;
  }
  .user-card-md {
    display: block;
  }
  .user-price-lang {
    padding-left: 118px;
  }
  .user-price-lang .user-lang {
    justify-content: flex-start;
  }
  .info-box-wrapper {
    display: block;
  }
  .info-box {
    width: calc(100% - 22px);
  }


  .call-history-row.call-history-header {
    display: none;
  }
  .call-history-row {
    display: block;
  }
  .call-history-list {
    .td-1 {
      width: 100%;
    }
    .td-2 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
    }
    .td-3 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
    }
    .td-4 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
    }
    .td-5 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
      justify-content: flex-start;
    }
  }
  .call-history-data {
    display: flex;
  }
  .call-history-header-xs {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.32px;
    color: #6d7885;
    width: 150px;
    flex-shrink: 0;
    text-align: left;
  }
  .teacher-card {
    padding: 20px;
  }
  .user-card-lg {
    display: block;
  }
  .user-badge-lg {
    justify-content: flex-start;
    margin-right: 0;
    position: relative;
  }
  .user-badge-lg .user-badge-img {
    width: 100px;
    height: 100px;
  }
  .user-badge-lg .user-badge-caption {
    margin-left: 20px;
    flex: 1;
  }
  .user-badge-lg .user-badge-name {
    padding-right: 90px;
  }
  .user-card-lg .user-price {
    margin-left: 0;
    padding-left: 120px;
    margin-top: 15px;
  }
  .teacher-card-bottom {
    margin-top: 20px;
  }
  .btn-top {
    display: none;
  }
  .btn-top.btn-top-xs {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  .teacher-card-subjects {
    padding-right: 0;
  }
  .section {
    margin-top: 40px;
  }
  .main-title {
    font-size: 30px;
    line-height: 120%;
  }
  .main-slider-caption p {
    font-size: 20px;
    line-height: 120%;
  }
  .main-slider {
    position: relative;
  }
  .main-slider-caption {
    padding: 0 0 240px 0;
  }
  .main-slider-img {
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
  }
  .features-content {
    margin-top: 0;
  }
  .features-img {
    width: 50%;
    position: absolute;
    right: 0;
  }
  .features-img:before {
    right: -30px;
    height: 200px;
  }
  .features-box-wrapper {
    width: 100%;
    padding-top: 120px;
    justify-content: flex-start;
  }
  .features-box {
    padding: 15px 15px 20px 15px;
  }
  .features-box h6 {
    font-size: 20px;
    line-height: 120%;
  }
  .features-box p {
    font-size: 17px;
    line-height: 120%;
  }
  .features-box:nth-of-type(1) {
    margin-left: 0;
  }
  .features-box:nth-of-type(2) {
    margin-left: 45px;
    margin-top: 25px;
  }
  .features-box:nth-of-type(3) {
    margin-left: 10px;
    margin-top: 25px;
  }
  .features-box:nth-of-type(4) {
    margin-top: 25px;
    margin-left: 30px;
  }
  .calculator-box {
    margin-bottom: 40px;
  }
  .calculator-result {
    margin-top: 0;
  }
  .description-img {
    width: 100px;
    height: 100px;
  }
  .description-item {
    width: calc(100% - 30px);
    margin: 15px;
  }
  .description-caption {
    margin-left: 10px;
  }
  .description-caption h6 {
    font-size: 20px;
    line-height: 120%;
  }
  .description-caption p {
    font-size: 18px;
    line-height: 120%;
  }
  .description {
    padding: 60px 0;
  }
  .rating-img {
    display: none;
  }
  .rating-type-item {
    width: calc(33.3% - 50px);
    margin: 0 25px;
  }
  .rating-type-img {
    width: 90px;
    height: 90px;
  }
  .rating-type-caption h6 {
    font-size: 17px;
    line-height: 120%;
  }
  .rating-type-caption p {
    font-size: 13px;
    line-height: 120%;
    padding-left: 22px;
  }
  .rating-type-caption p:before {
    top: 10px;
    width: 18px;
    height: 18px;
  }
  .rating-type-box {
    width: 110px;
  }
  .rating-type-box:before {
    border-left: 55px solid rgba(0,0,0,0);
    border-right: 55px solid rgba(0,0,0,0);
  }
  .rating-type-item:nth-of-type(1) .rating-type-box {
    height: 80px;
  }
  .rating-type-item:nth-of-type(2) .rating-type-box {
    height: 150px;
  }
  .rating-type-item:nth-of-type(3) .rating-type-box {
    height: 220px;
  }

  .faq {
    margin-top: 70px;
  }
  .faq-list {
    margin-top: 30px;
  }
  .instruction-steps {
    margin-top: 40px;
  }
  .instruction-step {
    width: calc(78% - 30px);
  }
  .instruction-step-caption p {
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
  }
  .instruction-step:nth-of-type(1) {
    margin-left: auto;
  }
  .instruction-step:nth-of-type(1):after {
    background: url("../img/icon/arrow-down-dashed.png") no-repeat center/contain;
    height: 120px;
    width: 22px;
    top: 50%;
    left: -18%;
  }
  .instruction-step:nth-of-type(2) {
    margin-top: 50px;
  }
  .instruction-step:nth-of-type(2):after {
    background: url("../img/icon/arrow-down-dashed.png") no-repeat center/contain;
    height: 120px;
    width: 22px;
    top: 50%;
    left: initial;
    right: -18%;
  }
  .instruction-step:nth-of-type(3) {
    margin-top: 50px;
    margin-left: auto;
  }
  .instruction-step:nth-of-type(3):after {
    width: 50%;
    height: 30%;
    bottom: -65%;
    right: 15%;
  }
  .instruction-list {
    margin: 50px -7.5px 0 -7.5px;
  }
  .instruction-list h6 {
    font-size: 20px;
    line-height: 120%;
  }
  .instruction-list ul {
    padding-left: 20px;
  }
  .instruction-list ul li {
    font-size: 18px;
    line-height: 120%;
  }
  .review-item {
    width: calc(50% - 15px);
    margin: 0 7.5px;
  }
  .review-item:last-of-type {
    display: none;
  }
  .review {
    padding: 20px 0;
  }
  .review-author-img {
    width: 50px;
    height: 50px;
  }
  .review-author-caption {
    margin-left: 10px;
  }
  .review-author-name p {
    font-size: 14px;
    line-height: 120%;
  }
  .review-author-info p {
    font-size: 13px;
    line-height: 120%;
  }
  .review-item-content {
    margin-top: 15px;
  }
  .review-item-content p {
    font-size: 15px;
    line-height: 120%;
  }
  .review-show-more {
    margin-top: 10px;
  }
  .review-author-info {
    margin-top: 2px;
  }
  .review .section-title {
    display: block;
  }
  .review-title-link {
    margin-top: 15px;
  }
  .review-list {
    margin-top: 45px;
  }
  .request-form {
    margin-top: 30px;
    max-width: 100%;
  }
  .request-img {
    margin: 30px auto 0 auto;
    max-width: 350px;
  }
  .news-preview {
    overflow: hidden;
  }
  .news-preview-item {
    width: 300px;
    flex-shrink: 0;
    padding: 15px;
    margin: 0 7.5px;
  }
  .news-preview-text {
    margin-top: 15px;
  }
  .news-preview-text p {
    font-size: 18px;
    line-height: 120%;
  }
  .news-preview-list {
    overflow-x: auto;
    scrollbar-width: none;
    margin-right: -200px;
    margin-top: 30px;
  }
  .news-preview-list::-webkit-scrollbar {
    display: none;
  }
  .main-page {
    padding-bottom: 100px;
  }

  .header-nav {
    position: fixed;
    overflow-y: auto;
    width: 100%;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    background: #fff;
    margin: 0;
    flex-direction: column;
    padding: 30px 15px 20px 15px;
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
  }
  .header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .toggle-mobile-menu {
    display: flex;
  }
  .header-nav li + li {
    margin-top: 15px;
  }
}

//phones
@media (min-width: 320px) and (max-width: 575px) {
  .footer-top {
    display: block;
    padding: 0;
  }
  .footer-app-link {
    margin-left: 0;
    margin-right: 20px;
  }
  .footer-social {
    padding: 15px 0;
  }
  .footer-app {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .footer-body {
    padding: 12px 0 14px 0;
  }
  .footer-product {
    margin-bottom: 5px;
    padding: 13px 15px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    border-radius: 10px;
  }
  .footer-product h6 {
    padding: 0;
    position: relative;
  }
  .footer-product h6:after {
    content: '';
    background: url("../img/icon/chevron-down-24.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .footer-product.show h6:after {
    transform: translateY(-50%) rotate(180deg);
  }
  .footer-product-list li {
    margin-top: 0;
  }
  .footer-product-list li:first-child {
    margin-top: 6px;
  }
  .footer-product-list {
    display: none;
  }
  .footer-product.active .footer-product-list {
    display: block;
  }
  .footer-bottom {
    padding: 15px 0 20px 0;
  }
  .footer-bottom-content {
    display: block;
  }
  .footer-nav {
    display: block;
    margin-top: 8px;
    margin-left: -12px;
  }
  .footer-nav li {
    justify-content: flex-start;
  }
  .footer-nav li + li {
    margin-left: 0;
    margin-top: 5px;
  }
  .footer-copyright {
    margin-top: 7px;
    text-align: left;
    margin-left: 0;
  }
  .sidebar {
    position: fixed;
    width: calc(100% - 50px);
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.2s ease;
    padding: 15px;
    z-index: 10;
    transform: translateX(-100%);
    background: #fff;
  }
  .sidebar.show {
    transform: translateX(0);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  }
  .toggle-sidebar {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    left: initial;
    padding: 10px;
    transform: initial;
  }
  .toggle-sidebar span {
    display: none;
  }
  .profile-img {
    display: block;
  }
  .upload-img-instruction {
    margin-left: 0;
    margin-top: 15px;
  }
  .form-half {
    flex-direction: column;
  }
  .form-half .form-group {
    width: calc(100% - 30px);
  }
  .form-third {
    flex-direction: column;
  }
  .form-third .form-group {
    width: calc(100% - 30px);
  }
  .profile-edit-buttons .btn {
    width: calc(50% - 5px);
  }

  .user-card-md {
    display: block;
  }
  .user-badge-md {
    display: block;
  }
  .user-badge-md .user-badge-caption {
    margin-left: 0;
    margin-top: 15px;
  }
  .user-card-md .user-price-lang {
    margin-top: 15px;
  }
  .user-price-lang .user-lang {
    justify-content: flex-start;
  }
  .info-box-wrapper {
    display: block;
  }
  .info-box {
    width: calc(100% - 22px);
  }
  .progress-info-item {
    padding: 10px;
  }
  .call-history-row.call-history-header {
    display: none;
  }
  .call-history-row {
    display: block;
  }
  .call-history-list {
    .td-1 {
      width: 100%;
    }
    .td-2 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
    }
    .td-3 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
    }
    .td-4 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
    }
    .td-5 {
      width: 100%;
      margin-left: 0;
      margin-top: 5px;
      justify-content: flex-start;
    }
  }
  .call-history-data {
    display: flex;
  }
  .call-history-header-xs {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.32px;
    color: #6d7885;
    width: 120px;
    flex-shrink: 0;
    text-align: left;
  }
  .profile-title-wrapper {
    display: block;
  }
  .teacher-card {
    padding: 15px;
  }
  .user-card-lg {
    display: block;
  }
  .user-badge-lg {
    display: block;
    margin-right: 0;
    position: relative;
  }
  .user-badge-lg .user-badge-img {
    margin: 0 auto;
  }
  .user-badge-lg .user-badge-caption {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
  .user-card-lg .user-price {
    margin-top: 15px;
  }
  .user-card-lg .btn {
    margin-top: 15px;
    padding: 10px 24px;
  }
  .teacher-card-bottom {
    display: block;
    margin-top: 15px;
  }
  .teacher-card-subjects {
    padding-right: 0;
  }
  .user-price {
    display: none;
  }
  .user-price.user-price-xs {
    display: block;
    margin-top: 15px;
  }
  .user-price-xs .btn {
    margin-top: 10px;
    width: 100%;
  }
  .btn-top {
    display: none;
  }
  .btn-top.btn-top-xs {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  .section {
    margin-top: 40px;
  }
  .main-title {
    font-size: 28px;
    line-height: 28px;
  }
  .main-slider-caption {
    padding: 0;
  }
  .main-slider-caption .main-title {
    font-size: 34px;
    line-height: 41px;
  }
  .main-slider-caption p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
  }
  .main-slider-caption .btn-success {
    margin-top: 24px;
  }
  .main-slider-img {
    margin-top: 40px;
  }
  .features-content {
    margin-top: 35px;
  }
  .features-img {
    display: none;
  }
  .features-box-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
  .features-box {
    padding: 12px 140px 18px 15px;
  }
  .features-box h6 {
    font-size: 22px;
    line-height: 28px;
  }
  .features-box p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
  }
  .features-box-icon {
    width: 42px;
    height: 42px;
    top: 10px;
    right: 10px;
  }
  .features-box:nth-of-type(1) {
    width: 100%;
    margin-left: 0;
  }
  .features-box:nth-of-type(2) {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .features-box:nth-of-type(3) {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .features-box:nth-of-type(4) {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .calculator {
    border: 1.5px solid #4090FF;
    border-radius: 20px;
    padding: 30px 15px;
  }
  .section-title p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 6px;
  }
  .calculator-box h6 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .calculator-check-val .checkmark {
    width: 27px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
  }
  .calculator-check-val input:checked~.checkmark {
    width: 40px;
    height: 40px;
  }
  .calculator-check-val+.calculator-check-val {
    margin-left: 14px;
  }
  .calculator-check-val+.calculator-check-val:before {
    width: 8px;
    height: 8px;
    left: -11px;
  }
  .calculator-box {
    margin-bottom: 40px;
  }
  .calculator-result {
    display: flex;
    margin-top: 5px;
    align-items: center;
  }
  .calculator-result p {
    margin-top: 0;
    order: 1;
  }
  .calculator-result h6 {
    order: 2;
    margin-left: 10px;
    font-size: 30px;
    line-height: 24px;
  }
  .description {
    background: transparent;
    padding: 0;
  }
  .description-list {
    margin: 40px 0 0 0;
    width: 100%;
    display: block;
  }
  .description-item {
    margin: 0;
    width: 100%;
  }
  .description-img {
    width: 100px;
    height: 100px;
  }
  .description-caption {
    margin-left: 15px;
  }
  .description-caption h6 {
    font-size: 22px;
    line-height: 24px;
  }
  .description-caption p {
    font-size: 16px;
    line-height: 16px;
    margin-top: 6px;
  }
  .description-item + .description-item {
    margin-top: 30px;
  }
  .rating-img {
    display: none;
  }
  .rating-types {
    margin: 0 -11px;
    padding-top: 30px;
  }
  .rating-type-item {
    width: calc(33.3% - 22px);
    margin: 0 11px;
  }
  .rating-type-img {
    width: 80px;
    height: 80px;
  }
  .rating-type-caption {
    margin-top: 8px;
  }
  .rating-type-caption h6 {
    font-size: 11px;
    line-height: 13px;
  }
  .rating-type-caption p {
    margin-top: 6px;
    font-size: 12px;
    line-height: 12px;
    padding-left: 18px;
  }
  .rating-type-caption p:before {
    width: 16px;
    height: 16px;
    transform: translateY(0);
    top: 0;
  }
  .rating-type-box {
    width: 86px;
    margin-top: 22px;
  }
  .rating-type-box:before {
    border-left: 43px solid rgba(0,0,0,0);
    border-right: 43px solid rgba(0,0,0,0);
    border-bottom: 10px solid #96c2ff;
    top: -10px;
  }
  .rating-type-item:nth-of-type(1) .rating-type-box {
    height: 30px
  }
  .rating-type-item:nth-of-type(2) .rating-type-box {
    height: 70px
  }
  .rating-type-item:nth-of-type(3) .rating-type-box {
    height: 110px
  }
  .faq-list {
    margin-top: 35px;
  }
  .instruction-steps {
    margin: 40px 0 0 0;
  }
  .instruction-step {
    width: 100%;
    margin: 0;
  }
  .instruction-step-caption {
    margin-bottom: 20px;
  }
  .instruction-step:nth-of-type(1):after {
    background: url("../img/icon/arrow-down-dashed.png") no-repeat center/contain;
    left: 50%;
    transform: translateX(-50%);
    top: initial;
    bottom: -50px;
    height: 40px;
    width: 10px;
  }
  .instruction-step:nth-of-type(2) {
    margin-top: 68px;
  }
  .instruction-step:nth-of-type(2) .instruction-step-caption {
    text-align: left;
    justify-content: flex-start;
  }
  .instruction-step:nth-of-type(2):after {
    background: url("../img/icon/arrow-down-dashed.png") no-repeat center/contain;
    left: 50%;
    transform: translateX(-50%);
    top: initial;
    bottom: -50px;
    height: 40px;
    width: 10px;
  }
  .instruction-step:nth-of-type(3) {
    margin-top: 68px;
  }
  .instruction-step:nth-of-type(3):after {
    left: 50px;
    bottom: -115%;
  }
  .instruction-list {
    margin-left: 0;
    margin-top: 30px;
    padding-bottom: 70px;
  }
  .review {
    padding: 30px 0 15px 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  .review .section-title {
    display: block;
  }
  .review-title-link {
    margin-top: 10px;
  }
  .review-list {
    margin: 45px 0 0 0;
  }
  .review-item {
    width: 100%;
    margin: 0;
  }
  .review-item + .review-item {
    margin-top: 15px;
  }
  .review-item-content {
    margin-top: 10px;
  }
  .review-show-more {
    margin-top: 13px;
  }
  .request-form {
    margin-top: 30px;
  }
  .request-form-submit {
    display: block;
  }
  .request-form-submit p {
    margin-left: 0;
    margin-top: 20px;
  }
  .request-img {
    margin-top: 20px;
  }
  .news-preview-list {
    overflow-x: auto;
    margin: 30px -20px 0 0;
    padding-right: 20px;
    scrollbar-width: 0;
  }
  .news-preview-list::-webkit-scrollbar {
    display: none;
  }
  .news-preview-item {
    width: 240px;
    padding: 12px;
    margin: 0 7.5px;
  }
  .news-preview-top img {
    max-width: 100px;
  }
  .news-preview-top p {
    font-size: 14px;
    line-height: 18px;
  }
  .news-preview-text {
    margin-top: 28px;
  }
  .news-preview-text p {
    font-size: 15px;
    line-height: 110%;
  }
  .news-preview {
    overflow: hidden;
  }
  .main-page {
    padding-bottom: 40px;
  }

  .header-nav {
    position: fixed;
    overflow-y: auto;
    width: 100%;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    background: #fff;
    margin: 0;
    flex-direction: column;
    padding: 30px 15px 20px 15px;
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
  }
  .header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .toggle-mobile-menu {
    display: flex;
  }
  .header-nav li + li {
    margin-top: 15px;
  }
  .header-logo span {
    display: none;
  }
}


//additional media

